
body
{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans',sans-serif;
}
.container
{
	width: 100%;
	padding: 0;
	margin: 0;
}
.row
{
	width: 90%;
	padding: 10px 20px;
	margin: 0 auto;
}
.header
{
	text-align: center;
	font-family: "Montserrat Alternates", sans-serif;
}
.header h1
{
	font-size: 50px;
	font-weight: normal;
}
hr
{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}
.selection
{
	width: 50%;
	padding: 30px 0;
	margin: 0 auto;
	text-align: center;
}
#error
{
	color: red;
	font-weight: bold;
	font-size: 24px;
}
.content
{
	width: 60%;
	margin: 0 auto;
}

#generate{
    font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	margin-top: 15px;
  background-color: #fff100;
	border-radius: 10px;
  padding: 10px 15px;
  transition: background-color 0.5s linear;
}

#generate:hover{
  background-color: rgb(240,227,0);
  transition: background-color 0.5s linear;
}